<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="JoinOfficeDbServerConnectionString" value="database=JointOffice;server=ly9l1igl88.database.chinacloudapi.cn;uid=database;pwd=wojiushiniDb123$%^;Timeout=120"/>
    <add key="DbServerConnectionString" value="database=sms;server=192.168.1.219;uid=sa;pwd=server001rotadyne;Timeout=120"/>

    <!--<add key="JoinOfficeDbServerConnectionString" value="database=JointOffice;server=193.168.1.133;uid=sa;pwd=cx123$%^;Timeout=120" />
    <add key="DbServerConnectionString" value="database=JointOffice;server=193.168.1.133;uid=sa;pwd=cx123$%^;Timeout=120" />-->
    
    <!--每天24小时隔15分钟900扫描一次有新数据生成图片-->
    <add key="SMSRiQingTime" value="3"/>
    <!--每天上午12点开始每隔900扫描-->
    <add key="SMSRiQingDayTime" value="3"/>
    <add key="SMSRiQingDayStart" value="12:00:00"/>
    <add key="SMSRiQingDayEnd" value="14:30:00"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
